/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/roboto-v20-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/roboto-v20-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/roboto-v20-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kaushan-script-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/kaushan-script-v8-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/kaushan-script-v8-latin-regular.svg#KaushanScript") format("svg"); /* Legacy iOS */
}

/* montserrat-alternates-regular - cyrillic_latin */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-alternates-v11-cyrillic_latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Alternates Regular"), local("MontserratAlternates-Regular"),
    url("../fonts/montserrat-alternates-v11-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-alternates-v11-cyrillic_latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-alternates-v11-cyrillic_latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-alternates-v11-cyrillic_latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/montserrat-alternates-v11-cyrillic_latin-regular.svg#MontserratAlternates")
      format("svg"); /* Legacy iOS */
}
/* montserrat-alternates-700 - cyrillic_latin */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-alternates-v11-cyrillic_latin-700.eot"); /* IE9 Compat Modes */
  src: local("Montserrat Alternates Bold"), local("MontserratAlternates-Bold"),
    url("../fonts/montserrat-alternates-v11-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-alternates-v11-cyrillic_latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-alternates-v11-cyrillic_latin-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-alternates-v11-cyrillic_latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/montserrat-alternates-v11-cyrillic_latin-700.svg#MontserratAlternates")
      format("svg"); /* Legacy iOS */
}

/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kaushan-script-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/kaushan-script-v8-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/kaushan-script-v8-latin-regular.svg#KaushanScript") format("svg"); /* Legacy iOS */
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.7;
  overflow: visible;
}

body.hide {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../images/intro.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background_cont {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

/*container*/

.container {
  margin: 0 auto;
  padding: 0 30px;
}

/*header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
/*header_logo*/
.header_logo {
  width: 50%;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

/*nav*/
nav {
  width: 40%;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

/*nav_link*/
.nav_link {
  color: #fff;
  text-decoration: none;
  transition: 0.1s linear;
  position: relative;
}
.nav_link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
}

.nav_link:hover {
  color: #fbde8a;
  text-decoration: none;
}

.nav_link:hover:after {
  display: block;
  background-color: #fbde8a;
}

.title1 {
  font-family: "Kaushan Script", handwriting;
  font-size: 72px;
  text-align: center;
  padding: 0;
  z-index: 1;
}

.button {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #fff;
  padding: 10px 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  margin: 8px;
  transition: 0.5s ease;
}
.button:hover {
  background-color: #fbde8a;
}
@media (max-width: 1200px) {
  .header_logo {
    padding-top: 20px;
  }
  .body.lock {
    overflow: hidden;
  }
  .menu_bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #e89084;
    transform: translate(-100%);
  }
  nav {
    display: none;
  }

  nav.active {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 4;
    text-align: center;
  }
  nav.active .nav_link {
    padding: 30px 0;
  }
  .menu_bg.active {
    transform: translate(0%);
  }
  .nav_link.active {
    display: block;
    margin-top: 130px;
    text-align: center;
    font-size: 45px;
    letter-spacing: 2px;
  }
  .menu_burger {
    position: relative;
    width: 50px;
    height: 50px;
    top: 20px;
  }
  .menu_burger.active span {
    display: none;
  }
  .menu_burger.active {
    position: relative;
    z-index: 4;
  }
  .menu_burger span {
    display: block;
    width: 45px;
    height: 3px;
    background-color: #fff;
  }
  .menu_burger:after,
  .menu_burger:before {
    content: "";
    position: absolute;
    display: block;
    width: 45px;
    height: 3px;
    background-color: #fff;
  }
  .menu_burger:before {
    top: 13px;
    left: 0;
  }
  .menu_burger .active:before {
    transform: rotate(-45deg);
    top: 9px;
  }
  .menu_burger:after {
    top: 26px;
    left: 0;
  }
  .menu_burger.active:after {
    transform: rotate(45deg);
    top: 10px;
  }
  .menu_burger.active:before {
    transform: rotate(-45deg);
    top: 10px;
  }
}
/*intro*/

.intro {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro_inner {
  margin: 0 auto;
  text-align: center;
}

.intro_title {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
.intro_title:after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #fff;
  background-position: center;
  margin: 20px auto 20px;
}

.intro_suptitle {
  font-family: "Kaushan Script", handwriting;
  font-size: 36px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 100px;
}

/*about*/
.about {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 40px;
}

.about_inner {
  width: 100%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 1.5;
}

.inner_suptitle {
  font-family: "Kaushan Script", handwritting;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.inner_title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}
.about_inner:after {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #f38181;
  margin: 28px auto 40px;
}

.paragraph {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  background-color: #fff;
}

/*selection*/
.selection {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.arrow {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 30px;
  bottom: 20px;
  z-index: 5;
  display: none;
}

.arrow.active {
  display: block;
  cursor: pointer;
}

.arrow img {
  width: 40px;
  height: 40px;
}
.sel_gradient:hover .sel_img {
  transform: translate3d(-10px, -10px, 0);
}

.sel_gradient:hover .sel_img img {
  opacity: 0.5;
}

.sel_gradient:hover .sel_text {
  opacity: 1;
}

.sel_img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: 0.1s linear;
}
.sel_img img {
  transition: opacity 0.1s linear;
  display: block;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.sel_gradient {
  background-color: #95e1d3;
  position: relative;
}

.sel_text {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate3d(-50%, -50px, 0);
  opacity: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  transition: opacity 0.2s linear;
}
@media (max-width: 576px) {
  .arrow {
    right: 0;
    bottom: 20px;
  }
  .about {
    padding: 0 30px;
  }
  .selection {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .sel_img img {
    height: 150px;
  }
}
/*itoms*/

.counter-container {
  width: 100%;
  min-height: 270px;
}

.counter_main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin: 0 auto;
}

.counter-content {
  flex: 1 1 0;
  width: 100%;
  height: 270px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #b5eae0;
  vertical-align: middle;
  position: relative;
  background-color: #95e1d3;
}

.count {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

.count p {
  font-size: 16px;
}
@media (max-width: 768px) {
  .counter-content {
    height: 170px;
  }
}
/*service*/
.service {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 30px;
}

.service_inner {
  width: 100%;
  max-width: 320px;
  margin: 10px auto 0;
  line-height: 1.5;
}

.service_suptitle {
  font-family: "Kaushan Script", handwritting;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.service_title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.service_inner:after {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #f38181;
  margin: 28px auto 40px;
}

/*colon*/
.colon {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.colon_inner {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  color: #1a1919;
}

.colon_title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  display: block;
}

.colon_img {
  display: block;
  width: 25px;
  float: left;
  margin-right: 30px;
  height: 25px;
}

/*fon block*/
.fon {
  width: 100%;
  height: 700px;
  background: url("../images/background.jpg") no-repeat center;
  background-size: cover;
}
@media (max-width: 768px) {
  .fon {
    display: none;
  }
}
/*do*/
.do {
  width: 100%;
  height: auto;
  margin: 40px auto 0;
}

.do_inner {
  width: 90%;
  height: 100px;
  margin: 0 auto 0;
  padding-top: 20px;
  line-height: 1.5;
}

.do_sup {
  font-family: "Kaushan Script", handwritting;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.do_title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.do_inner:after {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #f38181;
  margin: 30px auto;
}

.do_text {
  width: 80%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  margin: 0 auto;
  padding-top: 80px;
}

/*we_do*/
.we_do {
  width: 100%;
  display: flex;
  margin: 50px auto;
}

.do_img {
  width: 38%;
  margin-left: 40px;
}
.photo_do {
  width: 100%;
}

.do_itoms {
  width: 50%;
  padding-left: 60px;
}

.accor {
  display: block;
  transition: 0.3s ease;
}

.accor_header {
  padding: 15px;
  border: 2px solid #e5e5e5;
  position: relative;
}

.accor_img {
  position: absolute;
  top: 16px;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.lab_title {
  position: absolute;
  top: 16px;
  left: 60px;
  cursor: pointer;
  display: block;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

.lab_input {
  appearance: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
}
label {
  margin-top: -3px;
}
.accor_content {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #b6b6b6;
  border: 2px solid #e5e5e5;
}
.accor.show .accor_content {
  display: block;
}

.foto-slider {
  width: 100%;
  max-width: 1100px;
  height: 700px;
}
@media (max-width: 1024px) {
  .we_do {
    flex-direction: column;
  }
  .do_img {
    display: none;
  }
  .do_itoms {
    width: 100%;
    padding: 0 30px;
  }
  .we_do {
    margin: 30px auto;
  }
}
/*devices*/
.devices {
  width: 100%;
  max-width: 1200px;
  height: 100hv;
  margin: 80px auto 0;
}

.devices_inner {
  width: 100%;
  max-width: 270px;
  height: 100px;
  margin: 80px auto 0;
  padding-top: 50px;
  line-height: 1.5;
}

.devices_sup {
  font-family: "Kaushan Script", handwritting;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.devices_title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.devices_inner:after {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #f38181;
  margin: 28px auto 40px;
}

/*words*/
.words {
  width: 100%;
  min-height: 292px;
  display: flex;
  align-items: center;
  background-color: rgba(237, 237, 237, 0.5);
  padding: 30px;
}

.words_inner {
  display: flex;
  line-height: 1.5;
  padding: 0 30px;
}

.words_icon {
  width: 150px;
  height: 150px;
  margin: auto 0;
  background: url("../images/message.png");
}

.words_text {
  width: 65%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #b6b6b6;
  position: relative;
  margin-left: 60px;
}

.words_text:after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 2px;
  background-color: #f38181;
  margin-top: 24px;
  margin-right: 10px;
}

.text_name {
  width: 88px;
  font-family: "Kaushan Script", handwritting;
  font-size: 24px;
  color: #000;
  position: absolute;
  left: 90px;
  margin-right: -90px;
}
@media (max-width: 768px) {
  .words_inner {
    padding: 0;
  }
  .words_icon {
    display: none;
  }
  .words_text {
    width: 100%;
    margin-left: 0;
  }
}
/*team*/
.team {
  margin: 30px auto;
}

.team_inner {
  width: 80%;
  margin: 40px auto 0;
  line-height: 1.5;
}

.team_sup {
  font-family: "Kaushan Script", handwritting;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.team_title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.team_inner:after {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #f38181;
  margin: 28px auto 10px;
}

.team_text {
  width: 80%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  margin: 0px auto 0;
}
.collection-container {
  width: 100%;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.collection {
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  min-height: 200px;
  position: relative;
  padding-bottom: 60px;
}
.collection-item {
  display: block;
  margin-bottom: 10px;
}
.collection-item img {
  width: auto;
}
.collection-content {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -50px;
}
.collection-blur-block {
  width: 100%;
  height: 100px;
  filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.856);
}
.show-collection {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 20px;
  border: 3px solid #f38181;
  color: #f38181;
  z-index: 5;
  cursor: pointer;
}
@media (max-width: 768px) {
}
/*collage*/
.collage {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 100px;
}

.collage_itoms {
  position: relative;
  margin: 0 auto;
}

.collage_img {
  width: 80%;
  background-color: #95e1d3;
  margin: 0 auto;
}

.collage_img:hover .collage_gradient {
  transform: translate(-10px, -10px);
}

.collage_itoms:hover .collage_text {
  opacity: 1;
}

.collage_img:hover .collage_gradient img {
  opacity: 0.5;
}

.collage_img:hover.collage_text {
  opacity: 1;
}
.collage_gradient {
  background: linear-gradient(to bottom, #fce38a, #f38181);
  transition: transform 0.1s linear;
}

.collage_gradient img {
  width: 100%;
  display: block;
  transition: 0.1s linear;
}

.collage_text {
  width: 224px;
  height: 58px;
  position: absolute;
  top: 70%;
  left: 15%;
  z-index: 6;
  background: #fce38a;
  opacity: 0;
  transition: opacity 0.1s linear;
}
@media (max-width: 320px) {
  .collage {
    padding: 0 0 100px 0;
  }
}
/*designed_work*/
.designed_work {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.designed {
  width: 100%;
  margin: 20px auto 0;
  padding-top: 20px;
  line-height: 1.5;
}

.designed_sup {
  font-family: "Kaushan Script", handwritting;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.designed_title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.designed:after {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #f38181;
  margin: 28px auto 40px;
}

.block_text {
  width: 80%;
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  text-align: center;
}

.sociaty {
  width: 224px;
  height: 58px;
  display: flex;
  justify-content: space-between;
}

.sociaty_itoms {
  width: 100%;
  height: 28px;
  display: block;
  margin: 0 auto;
  padding: 15px 15px;
  border-right: 1px solid #f9bd87;
}
@media (max-width: 768px) {
  .designed_work {
    margin-top: 100px;
  }
}
/*dix*/
.dix {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.5;
}

.dix_sup {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.dix_title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  text-align: center;
}

/*barber*/
.barber {
  width: 100%;
  background-color: #f8f8f8;
}

.barber_inner {
  width: 100%;
  height: 264px;
  margin: 0 auto;
  margin-top: 100px;
  background: url("../images/barber.jpg");
}

.designed_text {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .barber {
    display: none;
  }
}

/*words*/
.words1 {
  width: 100%;
  min-height: 252px;
  background-color: #fff;
  position: relative;
  padding: 30px 30px;
}

.words_inner1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

.words_icon1 {
  width: 213px;
  height: 212px;
  margin: auto 0;
  background: url("../images/John.jpg");
}

.words_text1 {
  width: 70%;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #b6b6b6;
  margin: auto 0;
  position: relative;
}

.words_text1:after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 2px;
  background-color: #f38181;
  margin-top: 24px;
  margin-right: 10px;
}

.text_name1 {
  width: 150px;
  font-family: "Kaushan Script", handwritting;
  font-size: 24px;
  color: #000;
  position: absolute;
  left: 90px;
  margin-right: -90px;
}
@media (max-width: 768px) {
  .words_icon1 {
    display: none;
  }
  .words_text1 {
    width: 100%;
  }
}

/*clients*/
.clients {
  width: 100%;
  min-height: 720px;
  background: url("../images/mountains.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 40px;
  padding: 30px;
}

.clients_inner {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
}

.clients_sup {
  font-family: "Kaushan Script", handwritting;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.clients_title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 30px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.clients_inner:after {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #f38181;
  margin: 28px auto 40px;
}

.clients_cont {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.clients_container {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}
.clients_works {
  text-decoration: none;
  color: #f38181;
  font-weight: 700;
  font-size: 16px;
}
.clients_name {
  width: 70%;
  margin-left: 30px;
}
.name_sup {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

.name_title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.name_title:after {
  content: "";
  display: block;
  width: 62px;
  height: 3px;
  background-color: #f38181;
  margin-top: 10px;
}

.name_content {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  margin-top: 20px;
}

.name_img {
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  margin-left: 30px;
}
@media (max-width: 576px) {
  .clients_cont {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  .clients_container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .clients_name {
    width: 100%;
    margin-left: 0;
  }
  .name_img {
    float: none;
    margin: 10px auto;
  }
  .name_sup {
    text-align: center;
  }
  .name_title:after {
    margin: 0 auto;
    margin-top: 10px;
  }
}
/*blog*/
.blog {
  width: 100%;
  min-height: 550px;
  margin: 30px;
}

.blogger {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 60px;
  grid-row-gap: 40px;
  margin: 0 auto;
  margin-top: 40px;
}

.blogger_inner {
  width: 240px;
  margin: 0 auto;
  position: relative;
}
.blogger_img {
  width: 100%;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.data {
  display: block;
  position: absolute;
  top: 60px;
  left: -10px;
  z-index: 5;
}
.data_sup {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
}

.data_title {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  padding-bottom: 10px;
  text-align: center;
}

.bottom {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

.eye {
  padding: 0 10px 0;
}

@media (max-width: 576px) {
  .blog {
    margin: 0;
    padding-bottom: 30px;
  }
}

/*contact*/
.contact {
  padding: 30px;
  width: 100%;
  min-height: 340px;
  background-color: #000;
}

.contact_container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.fotter_mogo {
  width: 50%;
}

.fotter_mogo > h2 {
  font-size: 30px;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.fotter_mogo p {
  word-spacing: 4;
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
}
.fotter_mogo h4 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 10px;
}

.linking {
  margin-right: 20px;
}

.linking img:hover {
  box-shadow: 2px 2px 10px #fff;
  transform: scale(0.9, 0.9);
}

.linking img {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  transition: all 0.3s ease;
}

.footer_inform {
  width: 40%;
}

.footer_inform h2,
.footer_inform h3,
.footer_inform p {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
}

.input {
  width: 80%;
  height: 40px;
  margin: 20px 0;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .contact_container {
    flex-direction: column;
  }
  .fotter_mogo,
  .footer_inform {
    width: 100%;
    text-align: center;
  }
  .footer_inform {
    margin-top: 20px;
  }
}
